:root {
    --font: "Hind", Arial, Helvetica, sans-serif;
}

.header {
    display: inline;
}

.header h1 {
    font-family: 'Dancing Script', cursive;
    margin-left: 30px;
padding-top: 15px;
    font-size: 30px;
}

/* Navigation link styling */
nav {
    margin-top: -42px;
    margin-right: 22px;
    text-align: right;
    font-family: var(--font);
    font-weight: 800;
    font-size: 20px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: black;
    text-decoration: none;
    /* padding: top right bottom left */
    padding: 20px 20px;
}

body {
    background-color: rgb(244, 241, 241);
    padding-bottom: 30px;
}

section {
    background-color: white;
    filter: drop-shadow(3px 3px 3px rgb(88, 86, 86));
    margin: 80px 260px;
    padding: 20px 20px 60px 20px;
}

section h2 {
    text-align: left;
    font-family: var(--font);
    color: black;
    font-size: 40px;
    filter: drop-shadow(1px 1px 1px rgb(88, 86, 86));
    margin: 10px;
}

section p {
    text-align: center;
    font-family: var(--font);
    font-size: 20px;
    margin: 10px;
}